.comment, .comment-result {
    display: flex;
    background-color: #7A3E3E;
    color: #eee;
    text-align: start;
    padding: 30px 50px;
}
.comment label[for=message] {
    color: #47A992;
    text-shadow: 1px 1px 1px #333;
}
.comment-result {
    background-color: #eee;
    justify-content: center;
    width: 100%;
}
.comment .profile, .comment-result .profile {
    margin-right: 30px;
    box-shadow: 1px 1px 3px #333;
}
.comment li, .comment-result li {
    display: grid;
    padding-bottom: 10px;
}
.comment #message, .comment-result #message {
    height: 140px;
    width: 600px;
}
.comment .btn, .btn-reply {
    width: 100px;
    height: 30px;
    color: #47A992;
    font-weight: 600;
    text-transform: capitalize;
}
.bar-bawah-comment {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.container-comment-reply {
    width: 48%;
}
.comment.comment-reply {
    width: 100%;
    padding: 10px 25px;
    margin-top: 20px;
    display: none;
}
.comment.comment-reply #message {
    width: 450px;
}
.btn-batal {
    margin-left: 15px;
    text-decoration: none;
    font-weight: 500;
    color: #999;
    text-transform: capitalize;
}
.pagination {
    text-decoration-line: none;
}
.pagination.active {
    font-weight: bold;
}
.lipatan {
    color: #7A3E3E;
    cursor: pointer;
    padding-left: 30px;
    width: 130px;
    box-sizing: content-box;
}