.container-join {
    text-transform: initial;
}
.space {
    margin: 50px 0;
}

.role-list {
    color: #7A3E3E;
    display: grid;
    align-items: center;
    height: 100vh;
}
.role-list .title {
    font-size: 1.7rem;
}
.role-list dt {
    font-weight: bold;
    font-size: large;
}
.role-list dd {
    padding-bottom: 30px;
}

.contact-list {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}
.contact-list figure, .hire figure {
    width: 100px;
    height: 100px;
}
.contact-list figure img, .hire figure img {
    width: 100%;
}

.hire figure {
    margin: auto;
}