.list-eps, .list-eps th, .list-eps td {
    border: 3px solid pink;
}
.list-eps {
    border-color: palevioletred;
    border-collapse: collapse;
}
.list-eps th, .list-eps td {
    padding: 5px 10px;
}
.alert {
    display: block;
    padding: 20px 0;
    margin-bottom: 30px;
    background-color: teal;
}